@model UserManagement.Web.Models.Users.DeleteUserViewModel

<h2>Delete User</h2>

<p>Are you sure you want to delete @Model.Name? User ID: @Model.UserId?</p>

<form method="post">
    <input type="hidden" asp-for="UserId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Users" asp-action="List" class="btn btn-secondary">Cancel</a>
</form>
